[submodule "SDL_mixer"]
	path = SDL_mixer
	url = git@github.com:libsdl-org/SDL_mixer.git
[submodule "Engine/dependencies/SDL"]
	path = Engine/dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.4
[submodule "Engine/dependencies/SDL_image"]
	path = Engine/dependencies/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "Engine/dependencies/SDL_mixer"]
	path = Engine/dependencies/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "Engine/dependencies/SDL_ttf"]
	path = Engine/dependencies/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "Engine/dependencies/box2d"]
	path = Engine/dependencies/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Engine/dependencies/rtaudio"]
	path = Engine/dependencies/rtaudio
	url = https://github.com/thestk/rtaudio.git
